body {
  margin: 0;
  background-color: #adb4c2;
  background-image: url('https://t4.ftcdn.net/jpg/01/96/17/93/240_F_196179368_0NcMt9TvP96652D73Zrqwh68yXbYPlLF.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.navbar {
  background-color: #333;
  color: white;
  padding: 15px 0;
}

.nav-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  background-color: white ;
  border-radius: 5px;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.thumbnail {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

button {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
}
